.container {
  height: 420px;
  width: 325px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
progress {
  width: 240px;
}
.container .tour {
  font-family: merriweather;
  display: flex;
  gap: 120px;
}
.container .tour button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
}
.container .tour button img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.content {
  margin-left: 40px;
}
.content p {
  font-family: mulish;
  padding-bottom: 15px;
}
.content .progress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.content .progress .bar {
  background-color: white;
  height: 10px;
  width: 250px;
  border: solid;
  border-radius: 20px;
  border-color: grey;
}
.content .progress .bar {
  background-color: black;
  height: 10px;
  width: px;
}
hr {
  width: 308px !important;
  background-color: grey;
  margin-bottom: 50px;
}

.content .tasks {
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content .tasks.show {
  max-height: 1000px;
  opacity: 1;
}
.content .tasks.hide {
  max-height: 0;
  opacity: 0;
}
.content .tasks .task {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}
.content .tasks .task p {
  padding: 0 !important;
}
.content .tasks .task button {
  border-radius: 99999px;
  border-color: #dfddf1;
  background-color: #16182e;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: solid;
  border-width: 2px;
}
.content .tasks .task button img {
  width: 15px;
  height: 15px;
}

.content .btn {
  border: none;
  cursor: pointer;
  margin-top: 20px;
  background-color: white;
}

.starting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 230px;
}
.starting button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: black;
  color: white;
  width: 130px;
  height: 40px;
  border-radius: 20px;
}

.starting .tasknum {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  color: black;
  background-color: white;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  font-weight: bold;
}
