.container {
  background-color: white;
  width: 270px;
  height: 447px;
  border-radius: 10px;
  padding: 40px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
progress {
  width: 240px;
}
.container .tour {
  font-family: merriweather;
  display: flex;
  gap: 120px;
}
.container .tour button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
}
.container .tour button img {
  width: 20px;
  height: 20px;
}

.content p {
  font-family: mulish;
  padding-bottom: 15px;
}
.content .progress {
  display: flex;
  padding-bottom: 15px;
}
hr {
  width: 308px !important;
  background-color: grey;
  margin-bottom: 50px;
}

.content .tasks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content .tasks .task{
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    
}
.content .tasks .task p{
    padding: 0 !important;
}
.content .tasks .task button{
    border-radius: 99999px;
    border-color: #DFDDF1;
    background-color: #16182E;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.content .tasks .task button img{
    width: 15px;
    height: 15px;
    
}

.content .btn{
    border: none;
    background-color: white;
    cursor: pointer;
    padding-top: 40px;
}

.starting{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 250px;
    padding-top: 20px;
}
.starting button{
    border: none;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}