* {
    font-family: "Mulish", sans-serif;
  }



.widget{
    width: 601px;
    height: 476px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 25px 45px -17px #141E4242;
 border-radius: 20px;
}

.widget .widgetContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}