* {
  font-family: "Mulish", sans-serif;
}

p .loadAmount {
  font-weight: 100px;
}

p {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
}

.upload-container {
  height: 683px;
  width: 515px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e0eafd;
  border-radius: 10px;
  margin-bottom: 10px;
}
.loadContainer {
  
  margin: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  height: 121px;
  width: 437px;
  border-radius: 20px;
  border: solid;
  border-color: #E0EAFD;
  
  
}
.upload {
  cursor: pointer;
  position: relative;
  z-index: 1;
  opacity: 0;
  width: 50px;
  height: 50px;
}
.loadContainer .loadInfo{
  
  margin: 20px;
}
.loading {
  
  gap: 10px;
  display: flex;
  flex-direction: column;
  
}
.loadBar {
  background-color: black;
  height: 10px;
  border-radius: 20px;
  transition: width 0.5s ease-in-out;
}

.files {
  display: flex;
  
}
.files .checkMarkdiv{
  width: 40px;
  height: 40px;
  background-color: #6ba91d;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.files .fileInfo {
  margin-right: 280px;
  
  
}

.files .fileInfo .nameSize{
  display: flex;
  flex-direction: column;
}
.files img {
  width: 25px;
  height: 25px;
  
}

.files button {
  width: 40px;
  height: 40px;
  background-color: #e0eafd;
  border: none;
}

.files button img {
  width: 20px;
  height: 30px;
  background-color: #e0eafd;
  cursor: pointer;
}
.files .lineBreak {
  background-color: black;
  height: 1px;
  width: 100%;
  margin: 0 auto;
}
.download{
 margin-top: auto;
 margin-bottom: 30px;
 width: 405px ;
 height:70px ;
 cursor: pointer;
 border: solid;
 border-radius: 10px;
 border-color:white;
 border-width: 2px;
}