.container{
  display: flex;
  flex-direction: column;
  
}

.upload-container {
    height: 583px;
    width: 465px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #E0EAFD;
    border-radius: 10px;
    margin-bottom: 10px;
    
  }
  .loadContainer{
    margin: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 121px;
    width: 405px;
    border-radius: 20px;
  }
  .upload {
    cursor: pointer;
    position: relative;
    z-index: 1;
    opacity: 0; 
    width: 50px; 
    height: 50px;
    
  }
  .loading{
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 290px;
  }
  .loadBar{
    background-color: black;
    height: 10px;
    width: 350px;
    border-radius: 20px;
  }
  
.files{
 display: flex;
 align-items: center;
 justify-content: space-between;
 
}
.files .fileInfo{
  margin-right: 300px;
}
.files img{
  width: 35px;
  height: 35px;
  background-color: black;
  border-radius: 90px;
}
 