* {
    font-family: "Mulish", sans-serif;
  }

.container {
    position: relative;
    width: 465px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEF2F9

    
}

.container .upload {
    position: absolute; 
    top: -70px; 
    right: -1px; 
    background-color: white;
    width: 60px;
    height: 60px;
    border: solid;
    border-color: #E0EAFD ;
    border-radius: 10px;
    cursor: pointer;
    border-width: 8px;
}

.container .content{
    width: 465px;
    min-height: 200px; 
    height: auto; 
    overflow-y: auto; 
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 15px 35px -10px #A8B8D7CC;
    position: relative;
    padding-bottom: 20px;
    margin-right: 40px;
}

.container .content .uploadContainer{
    
    width: 405px;
    height: 121px;
    background-color: #F6F9FF;
    border-radius: 20px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container .content .uploadContainer .uploadInfo{
 display: flex;
 flex-direction: column;
 gap: 10px;
}


.container .content .uploadContainer .uploadInfo .load{
    width: 365px;
    height: 15px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    border-color: black;
    border-width: 20px
    
}
.container .content .uploadContainer .uploadInfo .load .innerLoad{
    width: 82px;
    height: 9px;
    background-color: black;
    border-radius: 20px;
}

.container .files{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
.container .files .check{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 200px;
    background-color:green;

}

.container .files .delete{
    background-color: white;
    border: none;
    width: 24px;
    height: 24px;
}

.container .files .gapping{
    display: flex;
    flex-direction: row;
    width: 210px;
}


.content .goTo{
    width: 405px;
    height: 60px;
    border-radius: 5px;
    background-color: white;
    border-color:#A1ACD2 ;
    border: solid;
    border-width: 1px;
    margin-top: 20px;
    flex-shrink: 0;
}