* {
    font-family: "Mulish", sans-serif;
  }

.container {
    width: 465px;
    height: 583px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEF2F9;
    position: relative
}

.container .upload {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background-color: white;
    width: 40px;
    height: 40px;
    border-width: 3px;
    border: solid;
    border-color: #E0EAFD ;
    border-radius: 10px;
    cursor: pointer;
}

.container .content{
    width: 465px;
    height: 495px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.container .content .uploadContainer{
    
    width: 405px;
    height: 121px;
    background-color: #F6F9FF;
    border-radius: 20px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container .content .uploadContainer .uploadInfo{
 display: flex;
 flex-direction: column;
 gap: 10px;
}


.container .content .uploadContainer .uploadInfo .load{
    width: 365px;
    height: 15px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    border-color: black;
    border-width: 20px
    
}
.container .content .uploadContainer .uploadInfo .load .innerLoad{
    width: 82px;
    height: 9px;
    background-color: black;
    border-radius: 20px;
}

.container .files{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.container .files .check{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 200px;
    background-color:green;

}

.container .files .delete{
    background-color: white;
    border: none;
    width: 24px;
    height: 24px;
}

.container .files .gapping{
    display: flex;
    flex-direction: row;
    width: 210px;
}


.content .goTo{
    width: 405px;
    height: 60px;
    border-radius: 5px;
    background-color: white;
    border-color:#A1ACD2 ;
    border: solid;
    border-width: 1px;
    
}